.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
strong {
  color: rgb(55, 92, 243);
}
.detials-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.detials-image {
  width: 400px;
  height: 400px;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 80px;
}
.content,
p {
  padding: 20px;
}
